
{% extends 'model1/layout.html' %}

    {% block body %}
    <a href=""><button><h1>Translate between Languages</h1></button></a>
    <form method="post" class="card">
        {% csrf_token %}
        Source Language
        <select name="src-lang">
            
            {% for x in language_list %}
                {% if x.0 == "en" %}
                    <option value="{{x.0}}" selected>{{x.1}}</option>
                {% else %}
                    <option value="{{x.0}}">{{x.1}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br>
        Translation Language
        <select name="dest-lang">
            {% for y in language_list %}
                {% if y.0 == "es" %}
                    <option value="{{y.0}}" selected>{{y.1}}</option>
                {% else %}
                    <option value="{{y.0}}">{{y.1}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br>
        <input type="text" name="input">
        <button type="submit">Translate</button>
    </form>
    <div class="img_button">
    <a  href="{% url 'give_img' %}"><button>Give Image</button></href></a>
    </div>
    {% endblock %}
    